<!DOCTYPE html>
<html lang="en">
<head>
	<title>RISKBudur / Register</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="views/login/image/png" href="views/login/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="views/login/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="views/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="views/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="views/login/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="views/login/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="views/login/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="views/login/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="views/login/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="views/login/css/util.css">
	<link rel="stylesheet" type="text/css" href="views/login/css/main.css">
<!--===============================================================================================-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><style type="text/css">
<!--
body {
	background-image: url(views/login/images/bg.png);
	opacity: 0.8;
}

-->
</style></head>
<body>
	<center>
	<div class="limiter">
		<div class="container-login100">
		  <div class="wrap-login100 p-t-50 p-b-30">
				<form class="login100-form validate-form" action="/authenticate" method="post">
					<div align="center">
					  <p class="login100-form-title p-b-40">
				        <img src="views/login/images/logobig.png" width="318" height="122">      </p>
					  	<p class="txt2 p-b-10">
							Welcome to RISKBudur! It is a dynamically risk 	game!</p>
				  	</div>
					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter your username!">
						<input class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100"></span>
					</div>
					
					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter email: ex@abc.xyz">
						<input class="input100" type="text" name="email" placeholder="Email">
						<span class="focus-input100"></span>
					</div>
					

					<div class="wrap-input100 validate-input m-b-20" data-validate = "Please enter password">
						<span class="btn-show-pass">
							<i class="fa fa fa-eye"></i>
						</span>
						<input class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100"></span>
					</div>
					
					<div class="wrap-input100 validate-input m-b-20" data-validate = "Please enter password">
						<span class="btn-show-pass">
							<i class="fa fa fa-eye"></i>
						</span>
						<input class="input100" type="password" name="passwordConf" placeholder="Confirm Password">
						<span class="focus-input100"></span>
					</div>
					

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							REGISTER
						</button>
					</div>
					<span class="txt2 p-b-10">Already have an account?</span>

						<a href="/login" class="txt3 bo1 hov1">
							loGIN now						</a>
					
				</form>
			</div>
		</div>
	</div>
	</center>
	
<!--===============================================================================================-->
	<script src="views/login/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="views/login/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="views/login/vendor/bootstrap/js/popper.js"></script>
	<script src="views/login/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="views/login/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="views/login/vendor/daterangepicker/moment.min.js"></script>
	<script src="views/login/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="views/login/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="views/login/js/main.js"></script>
</body>
</html>